@import "../../index.scss";

#skills {
  article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.description {
  display: grid;
  align-items: center;
  margin: 0 8vw;
  padding-bottom: 3rem;
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 2rem;
    word-spacing: 0.3rem;
    line-height: 150%;
    color: rgb(71, 71, 71);
  }
}

.svg-container {
  margin: 2rem auto;
  img {
    width: 9rem;
  }
}

.skill {
  margin: 0.5rem;
  padding: 0.5rem;
  &:hover .img-container {
    img {
      transform: scale(1.2);
    }
  }
}

.img-container {
  cursor: pointer;
  text-align: center;
  img {
    height: 4rem;
    transition: all 0.2s linear;
  }
}
.label {
  text-align: center;
  cursor: pointer;
  h5 {
    font-size: 1rem;
    padding: 0.8rem;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 640px) {
  #skills {
    article {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media screen and (min-width: 860px) {
  #skills {
    article {
      margin: auto 12vw;
    }
  }
  .description {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 2rem;
    margin: 0 15vw;
  }
  .svg-container {
    margin: 0 auto;
  }
}
