@import "../../index.scss";

#contact {
  background-color: #f8f8f8;
  padding-bottom: 3rem;
  margin-bottom: 0;
  h4 {
    text-align: center;
    font-weight: 400;
    color: #686868;
    margin-top: 4rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
  }
}

.contacts {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contact {
  .icon-container {
    font-size: 4rem;
    color: #686868;
    text-align: center;
    &:hover i {
      font-size: 4.6rem;
    }
    &:hover .fa-twitter {
      color: #00acee;
    }
    &:hover .fa-envelope {
      color: #d44638;
    }
    &:hover .fa-instagram {
      color: #f77737;
    }
    &:hover .fa-linkedin {
      color: #0077b5;
    }
    i {
      transition: all 0.2s linear;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.label {
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
  h5 {
    font-size: 1rem;
    padding: 0.8rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 900px) {
  .contacts {
    margin: 0 5rem;
  }
}
