@import "../../index.scss";

header {
  // background-color: #310e68;
  // background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("./header.jpg") center/cover fixed;
  height: 900px;
  section {
    text-align: center;
    margin: 0 auto;
    h2 {
      font-size: 3rem;
      font-weight: 300;
      color: #ffffff;
    }
    h5 {
      letter-spacing: 0.1rem;
      margin-top: 1.5rem;
      font-size: 1rem;
      font-weight: 400;
      color: #ffffff;
      line-height: 200%;
    }
  }
}
.section-btn {
  margin: 2rem;
  .primary-btn {
    border-radius: 0.2rem;
    margin: 1rem;
    padding: 0.5rem 0.8rem;
  }
}

.avatar-container {
  text-align: center;
  align-items: center;
  img {
    height: 13rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    transform: scale(1);
    border: 0.2rem solid $primaryColor;
    transition: all 0.3s linear;
    &:hover {
      transform: scale(1.15);
    }
  }
}

.type {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 4.5rem;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: typewriter 2s steps(20) 1s 1 normal both,
    blinkTextCursor 700ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 20rem;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 99;
  border: 0.1rem solid #eee;
  outline: none;
  background-color: $primaryColor;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.5rem #adadad;
  transition: all 0.3s linear;
  i {
    padding: 0.5rem;
  }
}

#topBtn:hover {
  background-color: $hoverColor;
  box-shadow: 0.2rem 0.2rem 0.5rem #858585;
}

@media screen and (min-width: 640px) {
  header {
    height: 100vh;
  }
}

@media screen and (min-width: 800px) {
  .type {
    margin-top: 2rem;
  }
  .avatar-container {
    img {
      height: 12rem;
    }
  }
}
