@import "../../index.scss";

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./header.jpg");
  height: 91vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
