@import "../../index.scss";

#timeline {
  background-color: #ecf0f1;
  padding-bottom: 2rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;

  max-width: 100%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: $primaryColor;

  top: 0;
  left: calc(50% - 2.5px);
  z-index: 0;
  border-radius: 0.3rem;
}

div .timeline-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 50%;
}

div .timeline :nth-child(2n) {
  align-self: flex-end;
}

.timeline-item {
  position: relative;
  align-self: flex-end;
  width: 80%;
  background-color: #fff;
  text-align: left;
  margin: 0.5rem 2rem 0.5rem 1rem;
  padding: 0.7rem;
  z-index: 99;
  box-shadow: 2px 2px 4px rgb(197, 197, 197);
  hr {
    margin: 0.5rem;
    color: #e5e5e5;
  }
}

div .timeline :nth-child(2n) .timeline-item {
  align-self: flex-start;
  text-align: unset;
  margin: 0.5rem 1rem 0.5rem 2rem;

  box-shadow: -2px 2px 4px rgb(197, 197, 197);
}

.timeline-item ::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 0.5rem);
  right: -2.75rem;
  z-index: 1;
  border-radius: 50%;
  border: 0.25rem solid $hoverColor;
}

div .timeline :nth-child(2n) .timeline-item ::after {
  left: -2.75rem;
}

.timeline-item ::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 0.25rem);
  right: -0.5rem;
  z-index: 0;
  transform: rotate(45deg);
  border-top: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
}

div .timeline :nth-child(2n) .timeline-item ::before {
  left: -0.5rem;
  transform: rotate(-135deg);
}

.timeline-header {
  text-align: center;
  .timeline-tag {
    text-transform: uppercase;
    padding: 0.3rem;
    color: #fff;
    border-radius: 0.1rem;
    text-align: center;
  }
  .date {
    text-align: center;
    padding: 0.5rem 0;
    color: #949494;
  }
}

.timeline-title {
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 0.8rem;
  word-spacing: 0.2rem;
}

.timeline-desc {
  padding-top: 0.5rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.timeline-link {
  text-align: center;
  a {
    font-size: 0.9rem;
    color: $hoverColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 640px) {
  .timeline-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .timeline-tag {
      width: 8rem;
      padding: unset;
      padding-top: 0.4rem;
    }
    .date {
      text-align: right;
    }
  }
}

@media screen and (min-width: 1024px) {
  .timeline-item {
    width: 60%;
  }
}
